body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background: #2c2c2c;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.sortBody {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.sortContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1, h2, h3, p, span, label {
    color: #ffffff;
}

label, .sortContent p {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin: 0;
}

input, select {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 12px 20px;
    max-height: 55px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

li {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    border-color: #494949;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.active {
    background: #ff6961;
    color: #fff;
    border-radius: 3px;
}

a {
    color: #FF4500;
    text-decoration: none;
}

img {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

@media (max-width: 768px) {
    .sortBody {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    button {
        width: 100%;
    }
}

#FullImageView {
    display: none ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

#FullImage {

    width: 50%;
    height: 50%;
    margin-top: 200px;
    pointer-events: none;
}

#CloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.imageProduct {

    transition: transform 0.15s ease;
    cursor: pointer;

}

.imageProduct:hover {
    transform: scale(1.1);
}


footer {
    background: #000;
    padding: 10px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks .logo {

    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 800;
    font-size: 17px;
    color: #ffffff;
}

footer .blocks ul a {
    color: #cecece;
    margin-top: 7px;
    font-size: 15px;
}

footer .blocks ul {
    list-style: none;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #cecece;
}

footer>p {
    text-align: center;
    font-size: 15px;
}
